/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Cambiar el color de fondo a blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
  .container {
    background-color: #ffffff; /* Cambiar el fondo a blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(233, 229, 229, 0.1);
    color: #000000; /* Cambiar el color del texto a negro */
    width: 450px;
}
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  /* Estilos específicos para el formulario de inicio de sesión */
  .login-form {
    max-width: 400px;
    margin: auto;
  }
  