.p-toolbar-group-center {
  font-family: 'Tahoma', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.menu, .login-menu {
  display: none;
  position: absolute;
  background-color: rgb(67, 66, 69);
  border: 1px solid #5e5d63;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: 150px;
  border-radius: 8px;

  &.visible {
    display: block;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      padding: 8px 12px;
      cursor: pointer;
      display: flex;
      align-items: center;
      background-color: #ff9a9a;
      color: black;
      border-radius: 8px;
      margin: 3px;
      border: 1px solid white;

      &:hover {
        background-color: #ed7876;
      }

      ul {
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        margin-left: 5px;
        border-radius: 8px;
        border: 1px solid #5e5d63;
        background-color: rgb(67, 66, 69);
        z-index: 9999;
      }

      &:hover ul {
        display: block;
      }

      .menu-item {
        display: flex;
        align-items: center;

        input {
          flex: 1;
          border: none;
          outline: none;
          background-color: black;
          color: white;
          padding: 6px 8px; 
          border-radius: 8px;
          margin-right: 6px; 
          height: 36px; 
          font-size: 14px; 
        }

        p-button {
          height: 36px; 
          font-size: 14px; 
          padding: 0 8px; 
        }
      }
    }
  }
}
