<p-toolbar>
  <div class="p-toolbar-group-start">
    <div #menu class="menu" [class.visible]="menuVisible">
      <ul>
        <li class="menu-item">
          <input type="text" placeholder="Buscar serie..." [(ngModel)]="searchTerm" (keyup.enter)="searchSeries()">
          <p-button icon="pi pi-search" (click)="searchSeries()" severity="secondary"></p-button>
        </li>
        <li *ngFor="let item of items">
          <div class="menu-item">
            {{ item.label }}
            <ul *ngIf="item.items">
              <li *ngFor="let subItem of item.items" (click)="selectGenre(subItem.label)">
                <i [class]="subItem.icon"></i> {{ subItem.label }}
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <p-button #menuButton (click)="toggleMenu($event)" icon="pi pi-list" severity="danger"></p-button>
  </div>
  <div class="p-toolbar-group-center">
    Weeklyd
  </div>
  <div class="p-toolbar-group-end">
    <div #loginMenu class="login-menu" [class.visible]="loginMenuVisible">
      <ul>
        <li (click)="navigateToLogin(); loginMenuItemClicked()">Ingresar</li>
        <li (click)="navigateToRegister(); loginMenuItemClicked()">Registrarse</li>
      </ul>
    </div>
    <p-button #loginButton (click)="toggleLoginMenu($event)" icon="pi pi-user" severity="danger"></p-button>
  </div>
</p-toolbar>
