// Import PrimeNG theme and core CSS files using relative paths
@import '../../../../node_modules/primeng/resources/themes/bootstrap4-dark-blue/theme.css';
@import '../../../../node_modules/primeng/resources/primeng.min.css';

:host {
    display: block;
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }