body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto; /* Permitir desplazamiento cuando el contenido excede la altura de la ventana */
}

.container {
  display: flex;
  flex-direction: column;  /* Coloca los contenedores uno debajo del otro */
  height: 100vh;           /* Asegura que el contenedor ocupe toda la altura de la ventana */
  padding: 20px;
  box-sizing: border-box;
}

.serie-info {
  flex: 0 1 auto; /* Ocupa solo el espacio necesario y permite crecer según el contenido */
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #111; /* Fondo para el contenedor de la serie */
  border-radius: 8px;
  margin-bottom: 20px; /* Espacio entre la información de la serie y los comentarios */
}

.text-center {
  text-align: center;
}

.serie-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.comment-input {
  width: 100%;
  min-height: 150px; /* Tamaño mínimo del área de comentarios */
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #222; /* Fondo para el área de comentarios */
  color: #fff; /* Color del texto en el área de comentarios */
}

.custom-btn {
  font-size: 1.25rem;
  padding: 12px 24px;
  border-radius: 10px;
  background-color: #ee0000f4;
  color: #fff;
  border: none;
  cursor: pointer;
}

.custom-btn:hover {
  background-color: #d62222;
}

.top-left-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 12px;
  font-size: 16px;
}

.review-section {
  flex: 1 1 auto; /* Ocupa el espacio restante y permite crecer hacia abajo */
  max-width: 800px;
  width: 100%;
  min-height: 300px; /* Tamaño mínimo para la sección de reseñas */
  padding: 20px;
  box-sizing: border-box;
  background-color: #111; /* Fondo para el contenedor de los comentarios */
  border-radius: 8px;
  overflow-y: auto; /* Permite el desplazamiento si el contenido excede la altura del contenedor */
}

.review-box {
  background-color: #242424;
  color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #bbbbbb;
  display: flex;
  flex-direction: column;
}

.review-box .review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.review-box .review-header strong {
  font-size: 14px;
  color: #bbbbbb;
}

.review-box .review-header span {
  font-size: 12px;
  color: #bbbbbb;
}

.review-box p {
  margin: 0;
  font-size: 16px;
}
