body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.serie-info {
  flex: 0 1 auto;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #111;
  border-radius: 8px;
  margin-bottom: 20px; 
}

.text-center {
  text-align: center;
}

.serie-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.comment-input {
  width: 100%;
  min-height: 150px;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #222;
  color: #fff;
}

.custom-btn {
  font-size: 1.25rem;
  padding: 12px 24px;
  border-radius: 10px;
  background-color: #ee0000f4;
  color: #fff;
  border: none;
  cursor: pointer;
}

.custom-btn:hover {
  background-color: #d62222;
}

.top-left-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 12px;
  font-size: 16px;
}

.review-section {
  flex: 1 1 auto;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #111;
  border-radius: 8px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #333 #111;
}

.review-section::-webkit-scrollbar {
  width: 8px;
}

.review-section::-webkit-scrollbar-track {
  background: #111;
}

.review-section::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 8px;
}

.review-section::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.review-box {
  background-color: #242424;
  color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #bbbbbb;
  display: flex;
  flex-direction: column;
}

.review-box .review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.review-box .review-header strong {
  font-size: 14px;
  color: #bbbbbb;
}

.review-box .review-header span {
  font-size: 12px;
  color: #bbbbbb;
}

.review-box p {
  margin: 0;
  font-size: 16px;
}
